@model ReservationModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IAnimalRepository _animalRepository
@inject IAccessoryRepository _accessoryRepository

<div class="col-md-3 mt-4 mt-md-0">
    <div class="card">
        <div class="card-header">
            @Localizer["Reservation"]
        </div>
        <div class="card-body">
            Datum: @Html.DisplayFor(model => model.Date)
            <hr class="my-4" />
            <span class="d-inline-block mb-1">@Localizer["Animals"]</span><br />
            @if (Model.Animals.Count == 0)
            {
                <small>
                    @Localizer["No animals have been selected"]
                </small>
            }
            else
            {
                <ul>
                    @foreach (var animal in Model.Animals)
                    {
                        var parsed = await _animalRepository.Get(animal);

                        <li>
                            @Html.DisplayFor(model => parsed.Name)
                        </li>
                    }
                </ul>
            }
            <hr class="my-4" />
            <span class="d-inline-block mb-1">@Localizer["Accessories"]</span><br />
            @if (Model.Accessories.Count == 0)
            {
                <small>
                    @Localizer["No accessories have been selected"]
                </small>
            }
            else
            {
                <ul class="mb-0">
                    @foreach (var accessory in Model.Accessories)
                    {
                        var parsed = await _accessoryRepository.Get(accessory);

                        <li>
                            @Html.DisplayFor(model => parsed.Name)
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>
