@model ReservationModel
@{
    ViewData["Title"] = "Index";
    var accessories = ViewData["Accessories"] as ICollection<AccessoryEntity>;
}

<h1>Booking - Accessories</h1>

<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                Stap 2 - Kies je accessories
            </div>
            <div class="card-body">
                <form asp-action="Contact">
                    <input type="hidden" asp-for="Date"/>
                    <input type="hidden" asp-for="Animals"/>
                    @foreach (var accessory in accessories)
                    {
                        <div class="form-group" style="display: inline-block">
                            <div class="card" style="width: 10rem; max-width: 100%">
                                <img src="@Url.Content(accessory.Image)" class="card-img-top" alt="Image">
                                <div class="card-body">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="@accessory.Id" name="Accessories" class="custom-control-input" value="@accessory.Id"/>
                                        <label class="custom-control-label" for="@accessory.Id">
                                            @Html.DisplayFor(model => accessory.Name)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div>
                        <input type="submit" value="Next" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <partial name="_OverviewPartial"/>
</div>
