@model ReservationModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
    var animals = ViewData["Animals"] as Dictionary<string, string>;
    var accessories = ViewData["Accessories"] as Dictionary<string, string>;
    var discounts = ViewData["Discounts"] as Dictionary<string, int>;
}

<h1>@Localizer["Booking - Confirm"]</h1>

<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                @Localizer["Step 4 - Check your details"]
            </div>
            <div class="card-body">
                <h5 class="card-title">@Localizer["Contactdetails:"]</h5>
                <p class="card-text">
                    @Html.DisplayFor(model => model.FullName)
                </p>
                <p class="card-text">
                    @Html.DisplayFor(model => model.Address)
                </p>
                @if (!string.IsNullOrWhiteSpace(Model.Email))
                {
                    <p class="card-text">
                        @Html.DisplayFor(model => model.Email)
                    </p>
                }
                <h5 class="card-title mt-2">@Localizer["Price / Discount:"]</h5>
                <ul>
                    @foreach (var animal in animals)
                    {
                        <li>
                            @Html.DisplayFor(model => animal.Key): &euro;@Html.DisplayFor(model => animal.Value)
                        </li>
                    }
                    @foreach (var accessory in accessories)
                    {
                        <li>
                            @Html.DisplayFor(model => accessory.Key): &euro;@Html.DisplayFor(model => accessory.Value)
                        </li>
                    }
                    @foreach (var discount in discounts)
                    {
                        <li>
                            @Html.DisplayFor(model => discount.Key): @Html.DisplayFor(model => discount.Value)%
                        </li>
                    }
                </ul>
                <div class="mb-3">
                    <strong>
                        @Localizer["Total:"]
                    </strong>
                    &euro;@ViewData["TotalPrice"]
                </div>
                <form asp-action="Finish">
                    <input type="hidden" asp-for="Date" />
                    @for (var i = 0; i < Model.Animals.Count; i++)
                    {
                        <input type="hidden" asp-for="Animals[i]" />
                    }
                    @for (var i = 0; i < Model.Accessories.Count; i++)
                    {
                        <input type="hidden" asp-for="Accessories[i]" />
                    }
                    <input type="hidden" asp-for="FullName" />
                    <input type="hidden" asp-for="Address" />
                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="PhoneNumber" />
                    <input type="hidden" asp-for="Price" />
                    <div>
                        <input type="submit" value="@Localizer["Confirm"]" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <partial name="_OverviewPartial" />
</div>
