@model ReservationModel
@{
    ViewData["Title"] = "Index";
    var animals = ViewData["Animals"] as ICollection<AnimalEntity>;
    var unavailable = ViewData["Unavailable"] as ICollection<Guid>;
}

<h1>Booking - Animals</h1>

<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                Stap 1 - Kies je beestjes
            </div>
            <div class="card-body">
                <form asp-action="Accessories">
                    <input type="hidden" asp-for="Date"/>
                    @foreach (var animal in animals)
                    {
                        <div class="form-group" style="display: inline-block @(unavailable.Contains(animal.Id) ? "force-disable" : "")">
                            <div class="card" style="width: 10rem; max-width: 100%">
                                <img src="@Url.Content(animal.Image)" class="card-img-top" alt="Image">
                                <div class="card-body">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="@animal.Id" name="Animals" class="custom-control-input" value="@animal.Id"/>
                                        <label class="custom-control-label" for="@animal.Id">
                                            @Html.DisplayFor(model => animal.Name)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div>
                        <input type="submit" value="Next" class="btn btn-primary"/>
                        <span asp-validation-for="Animals" class="text-danger"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <partial name="_OverviewPartial"/>
</div>
