@model ReservationEntity
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Details";
}

<h1>@Localizer["Details"]</h1>

<div>
    <h4>@Localizer["Animal"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animals)
        </dt>
        <dd class="col-sm-10">
            @foreach (var animal in Model.Animals)
            {
                <div>
                    @Html.DisplayFor(model => animal.Animal.Name)
                </div>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessories)
        </dt>
        <dd class="col-sm-10">
            @foreach (var accessory in Model.Accessories)
            {
                <div>
                    @Html.DisplayFor(model => accessory.Accessory.Name)
                </div>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
